#instagram {
    max-width: 25px;
    text-decoration: none;
}

#facebook {
    max-width: 25px;
    text-decoration: none;
}

/* .img-carusel {
    max-height: 700px;
    justify-content: center;
} */