#instagram {
    max-width: 25px;
    text-decoration: none;
}

#facebook {
    max-width: 25px;
    text-decoration: none;
}

.article-img {
    height: 250px;
    object-fit: cover;
}

.carousel-img img{
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}